h1, h2, h3, h4, h5 {
	margin-block-end: 0.5em;
    margin-block-start: 2em;
}
p {
    margin-block-end: 0px;
    margin-bottom: 0px!important;
}
.admonition > p {
	margin-top: 1em;
}

h4#basic, h4#abs, h4#without_gc {
	margin-block-start: 1em;
}

.wy-nav-content, .wy-nav-content-wrap {
    min-height: 100vh;
    min-width: 60vw;
}

iframe {
    border-width: 0px;
}